<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width,initial-scale=1">
        <title>boilerplate-test</title>
    </head>
    <body>
        <div id=app>
          <h2>Hello {{.Title}} {{.Name}}</h2>
          <div>
            <h3>The image below will show up 30 seconds after the http server starts (manual refresh required)</h3>
            <img src="/static/fancy_car.jpg" width="450" height="auto" />
          </div>
        </div>
    </body>
</html>